
@model PagedList.IPagedList<AdminLTE.ViewModel.StationInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
     table   tr {
        cursor:pointer;
    }
</style>
<h2>站点信息</h2>
 
<p>
    @Html.ActionLink("添加", "Create")
</p>
@using (Html.BeginForm("Index","Rtu",@FormMethod.Get))
{
   <p>
       搜索地点：@Html.TextBox("searchString",ViewBag.Filter as string)
       <input type="submit"  value="查找" />
   </p>
}
@if (Model==null)
{
    <h3>暂时没有符合的数据</h3>
}
else
{
    <table class="table table-striped table-bordered">
        <tr>
            @*<th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.id)
            </th>*@
            <th>
                @Html.DisplayNameFor(Model=>Model.GetEnumerator().Current.rtu_id)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.rtu_name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.rtu_region)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.rtu_unit)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.rtu_sim)
            </th>
           
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GetEnumerator().Current.user_tel)
            </th>
            <th>
                数据操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                 
                <th>
                    @Html.DisplayFor(modelItem => item.rtu_id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.rtu_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rtu_region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rtu_unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rtu_sim)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_tel)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.id}) |
                    @Html.ActionLink("仪器列表","Index","Instrument", new { rtu_id = item.rtu_id },new {@class="my" }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.id })

                </td>
            </tr>
        }



    </table>
    <br>
    
}

@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount*@
@Html.PagedListPager(Model, page => Url.Action("Index","Rtu" ,new { page, filter = ViewBag.Filter }))