@model AdminLTE.UsersTab

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除</h2>

<h3>是否确认删除该用户及其信息？</h3>
<div>
    <h4>用户信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete">删除</button>
            @*<input type="submit" value="Delete" class="btn btn-default" /> |*@
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
