@model AdminLTE.Models.SysUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.ID)
    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.EditorFor(model => model.UserName)
    </div>
    <div>
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
    </div>
    <div>
        @Html.LabelFor(model => model.PassWord)
        @Html.PasswordFor(model => model.PassWord)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>

}
<div>@Html.ActionLink("Back To List", "Index")</div>

